{% extends "base.html" %}

{% load static %}

{% block title %}
  Record list
{% endblock title %}
{% block content %}
  <div class="d-flex justify-content-between">
    <h1>Records</h1>
    <a class="btn btn-primary mb-3" href="{% url 'tracker:record-create' %}">Add new record</a>
  </div>
  <div class="card card-body">
    <form method="get">
      {{ RecordFilter.form.as_p }}
      <button class="btn-primary" type="submit">Search</button>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col" class="text-end">Amount</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record.date|date:'d-m-Y' }}</td>
          <td>{{ record.name }}</td>
          <td>{{ record.category.name }}</td>
          <td class="text-end">{{ record.amount }}</td>
          <td>
            <a href="{% url 'tracker:record-detail' record.pk %}">view</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
